/* Sidebar styles */
.sidebar {
    background-color: #333; /* Deep grey */
    width: 250px; /* Adjust width as needed */
    height: 100%; /* Full height */
    position: fixed; /* Fixed position */
    top: 0; /* Position from the top */
    left: 0; /* Position from the left */
    overflow-y: auto; /* Enable vertical scrolling if content exceeds height */
    padding-top: 20px; /* Space for the top navigation bar */
    z-index: 1; /* Ensure sidebar is above other content */
    color: white; /* Text color */
}

.sidebar .dropdown-btn {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: inherit;
    color: white;
    outline: none;
    cursor: pointer;
}

.sidebar .dropdown-container {
    display: none;
    background-color: #444; /* Darker grey */
    padding-left: 20px;
}

.sidebar .dropdown-container a {
    padding: 10px;
    text-decoration: none;
    display: block;
    color: white;
    transition: background-color 0.3s;
}

.sidebar .dropdown-container a:hover {
    background-color: #555; /* Dark grey */
}

.main-content {
    margin-left: 250px; /* Adjust margin to accommodate the width of the sidebar */
    padding: 20px; /* Add padding to prevent content from touching the sidebar */
}


