{% extends "scholar_share/base.html" %}
{% block title %}
Academic Intergrity Page
{% endblock %}

{% block content %}
<h2>Academic Integrity</h2>
<br>
<h5>Process</h5>
<ul class="list-group">
    <li class="list-group-item">Step 1: Instructor believes misconduct has occurred</li>
    <li class="list-group-item">Step 2: Faculty Dean reviews documentation</li>
    <li class="list-group-item">Step 3: Student is contacted by email and letter</li>
    <li class="list-group-item">Step 4: Meeting with student, Dean and Advisor</li>
    <li class="list-group-item">Step 5: Dean informs student of decision</li>
    <li class="list-group-item">Appeal: Student has the right to appeal the decision</li>
</ul>

<br>

<h5>What To Do If Accused</h5>
<br>
<p>If you have been accused of breaching the Academic Integrity Policy, your Faculty Dean will inform you by email and
    in writing of the nature of the charge, the evidence against you, the procedures to be followed, and the time and
    place of the meeting.</p>

<ul class="list-group-2">
    <li class="list-group-item-2">Speak to the Ombudsperson: You are encouraged to seek the advice of the university’s
        Ombudsperson via email at ombuds@carleton.ca. The Ombudsperson is knowledgeable about the Academic Integrity
        policy and is well placed to advise you of your rights.</li>
    <p> </p>
    <li class="list-group-item-2">Notify the Registrar's Office: If the allegation relates to a course in which the
        student is registered, the student, and the Registrar’s Office will be notified by the Faculty Dean that the
        student shall not be permitted to withdraw from the course concerned while under investigation for a breach of
        this Policy. The notification from the Dean’s Office to the Registrar’s Office will not include any particulars
        of the allegation.</li>
    <p> </p>
    <li class="list-group-item-2">Resonse to meeting Request: If you do not respond to the request for a meeting within
        the deadline indicated in the letter, or if you refuse to attend the meeting, the Dean may make a decision based
        on the available evidence. In the case that you are unable to attend a meeting in person, you may request a
        virtual meeting and it will be arranged.</li>
</ul>





{% endblock %}