/* Sidebar styles */
.sidebar {
    background-color: #333; /* Deep grey */
    width: 250px; /* Sidebar width */
    height: 100vh; /* Full height of viewport */
    overflow-y: auto; /* Enable vertical scrolling if needed */
    color: white; /* Text color */
}

.sidebar .dropdown-btn {
    width: 100%;
    padding: 10px;
    text-align: left;
    border: none;
    background-color: inherit;
    color: white;
    outline: none;
    cursor: pointer;
}

.sidebar .dropdown-container {
    position: relative;
}

.sidebar .dropdown-content {
    display: none;
    position: absolute;
    background-color: #444; /* Darker grey */
    padding: 10px;
    top: 100%;
    left: 0;
    width: 100%;
}

.sidebar .dropdown-content a {
    display: block;
    padding: 5px;
    color: white;
    text-decoration: none;
}

.sidebar .dropdown-content a:hover {
    background-color: #555; /* Dark grey */
}

.sidebar .dropdown-container:hover .dropdown-content {
    display: block;
}


